@model List<SystemStand>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Works Section - STAND GALERİSİNİN BULUNDUĞU KISIM ======= -->

<section class="section site-portfolio">
    <div class="container">
        @* <div class="row mb-5 align-items-center">
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
        <h2>Hey, I'm Johan Stanworth</h2>
        <p class="mb-0">Freelance Creative &amp; Professional Graphics Designer</p>
        </div>
        <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
        <div id="filters" class="filters">
        <a href="#" data-filter="*" class="active">All</a>
        <a href="#" data-filter=".web">Web</a>
        <a href="#" data-filter=".design">Design</a>
        <a href="#" data-filter=".branding">Branding</a>
        <a href="#" data-filter=".photography">Photography</a>
        </div>
        </div>
        </div> *@

        <!-- Section Title - STANDLARIMIZ -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Sistem Standlarımız</h2>
            @* <p class="">Check our Portfolio</p> *@
        </div><!-- End Section Title -->

        <img src="~/images/14.jpg" />
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
            @foreach (var item in Model)
            {
                <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
                    <a href="/SystemStand/PortfolioDetail/" class="item-wrap fancybox">
                        <div class="work-info">
                            <h3>@item.StandName</h3>
                            <span>@item.StandCategoryName</span>
                        </div>
                        <img class="img-fluid" src="@item.ImageUrl" alt="@item.StandName">
                    </a>
                </div>
            }
            
            
        </div>
    </div>
</section><!-- End  Works Section - STAND GALERİSİNİN BULUNDUĞU KISIM -->

