@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

<body>
    <div class="wrapper">

        @await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")

        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")

        <div class="main-panel">
        @RenderBody()
        </div>
    </div>

</body>

@await Component.InvokeAsync("_AdminLayoutScriptComponentPartial")

</html>
